<script src="https://unpkg.com/htmx.org@1.9.2"></script>
<style type="text/css">
  body {
    font-family: sans-serif;
    background-color: #ffffea;
  }
  textarea {
    font-family: sans-serif;
    background-color: #ffffea;
  }
  .output {
    color: green;
  }
  .error {
    color: red;
  }
</style>
<!-- have a button POST a click via AJAX -->
<form>
  <div hx-target="this" hx-swap="afterend">
    <textarea name="command" rows="5" cols="50"></textarea>
    <button type="submit" hx-post="/shell">Submit</button>
  </div>
</form>
<!-- <form>
  <div hx-target="this" hx-swap="outerHTML">
    <textarea name="editor" rows="5" cols="50">Hello world</textarea>
    <button type="submit" hx-post="/edit">Save</button>
    <button type="submit" hx-post="/edit">Close</button>
  </div>
</form>
 -->
